/*
Theme Name: StreamlineCore SanDiego Theme Child (E)
Theme URI: http://streamlinevrs.com/
Description: Child theme for customizations to Streamline San Diego (E) theme
Author: Tom Ransom
Author URI: http://streamlinevrs.com
Template: sandiego-e
Version: 1.0


Copyright 2015 Streamline VRS

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

*/

/* -----------------------------------------------------------------------------
 * Parent Theme Default Overrides (General)
 * ----------------------------------------------------------------------------- */
body{
  background-color: #fff;
}

.header{
  background-color: #fff;
  color: #fff;
}

.header a.phone{
  color: #000;
}
.header a.phone:hover{
  color: #000;
}

/* -----------------------------------------------------------------------------
 * Button Styles
 * ----------------------------------------------------------------------------- */
.btn-primary{
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}

.btn-success{
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}

/* -----------------------------------------------------------------------------
 * Button Styles (either darken or lighten on hover)
 * ----------------------------------------------------------------------------- */

.btn-primary:hover,
.btn-success:hover{
  background-image: url('assets/images/darken.png');
}

/*
.btn-primary:hover,
.btn-success:hover{
  background-image: url('assets/images/lighten.png');
}
*/
